@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/styles/fonts/AtkinsonHyperlegible-Regular.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/styles/fonts/AtkinsonHyperlegible-Italic.ttf') format('truetype');
  font-weight: 400; 
  font-style: italic;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/styles/fonts/AtkinsonHyperlegible-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/styles/fonts/AtkinsonHyperlegible-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}


body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

.content {
  max-width: 800px;
  position: relative;
  margin: auto;
  font-size: 1.25em;
  width: 90%; 
  line-height: 1.75; 
  min-height: 100vh;
}

.menu-bar {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-container {
  display: flex;
  align-items: flex-end; 
  justify-content: space-between;
}

.logo-link {
  display: inline-flex;
  align-items: flex-end; 
}

.logo-img {
  margin-top: 20px;
  height: auto;
  max-height: 80px; 
  width: auto;
  display: block;
}

.menu-items {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: flex-end; 
  border-bottom: 1.4px solid;
  margin-bottom: 19.5px;
}

.menu-items li {
  margin-left: 30px;
}

.menu-items a {
  text-decoration: none;
  color: #000;
  font-size: 1.1em;
  padding-bottom: 5px; 
  position: relative;
}

.menu-items a:hover {
  color: #555;
}
